*{
  font-family: "montseratt", sans-serif;
}
.container-hand-tracker{
  margin: 0 auto;
  width: 1273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1{
  text-align: center;
  margin: 0;
}
video{
  transform: rotateY(180deg);
  display: block;
  margin: auto;
}
.output-canvas{
  background: #F5F5F5;
}
.canvas{
  position: absolute;
  z-index: 5;
  right: 520px;
}
.canvas_container{
  position: relative;
}
.tama_container{
  position: absolute;
}
