.waiting_room{
    width: 1273px;
    height: 541px;
    /*display: block;*/
    position: absolute;
    z-index: 6;
    top: 65px;
    right: 280px;
    background: rgba(0,0,0,0.4);
    background-image: url("../../images/backgr.png");
}