*{
  font-family: "montseratt", sans-serif;
}
.container-hand-tracker{
  margin: 0 auto;
  width: 1273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1{
  text-align: center;
  margin: 0;
}
video{
  /*transform: rotateY(180deg);*/
  display: block;
  margin: auto;
}
.output-canvas{
  background: #F5F5F5;
}
.canvas {
  width: 100%;
  height: 100%;
    z-index: 5;
}
.canvas_container{
  position: fixed;
  top: 0;
  left: 0;
}
.tama_container{
  position: absolute;
  align-items: baseline;
}
