
.container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #aaa;
}

.character-face, .character-body, .character-legs, .character-arms {
    position: absolute;
    border: 1px solid #aaa;
    width: 100px;
    height: 100px;

}

.character-face {
    left: 0;
    top: 0;
    z-index: 1;
}

.character-body {
    left: 0;
    top: 0;
    width: 460px;
    height: 328px;
    z-index: 0;
}

.character-body > img {
    width: 460px;
    height: 328px;
}

.character-legs {
    left: 0;
    top: 0;
}

.character-arms {
    left: 0;
    top: 0;
}