.cuadro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f882;
    border: 1px solid black;
    width: 70%;
    height: 70%;
    overflow: auto;
}
.loginMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f882;
    border: 1px solid black;
    width: 70%;
    height: 70%;
    overflow: auto;
}