.cuadro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f882;
    border: 1px solid black;
    width: 70%;
    height: 70%;
    overflow: auto;
}

.loginMenu, .editMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border: 1px solid deepskyblue;
    width: 90%;
    height: 70%;
    overflow: hidden;
    z-index: 2;
}
.soundButton, .notificationButton, .musicButton {
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 0;
    color: #fff;
    z-index: 1;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.diceButton {
    display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 0;
    color: #fff;
    z-index: 1;
    transform: translateX(-100px);
}

.edit-menu-content {
    display: block;
    max-width: 300px;
    max-height: 350px;
    position: relative;
}

.editNavigation {
    display: flex;
    position: relative;
    height: 200px;
}

.editNavigationButtons {
    position: relative;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 2%;
    width: 150px;
    height: 50px;
}

.loginButtons {
    background-color: #0a53be;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    border: 1px solid deepskyblue;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 20px;
    border-radius: 25%;
}