@font-face {
    font-family: 'Kirby Classic';
    src: url('../fonts/kirby-classic.ttf') format('truetype');
}

.character-name {
    font-family: 'Kirby Classic';
    font-size: 20px;
    font-weight: bold;
    color: #f37c90;
    text-shadow: 0 0 10px #ffffff;
    text-align: center;
    margin-top: 10%;
}

.character-age {
    font-size: 100%;
    font-weight: bold;
    color: blue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.square {
    height: 200px;
    width: 200px;
    border-radius: 2%;
    margin-top: 2%;

    /*border: width style color;*/
}
.egg {
    background-color: #f9f882;
    margin: auto;
}

.stats {
    position: absolute;
    width: 300px;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.gif {
    background: 50% 50% no-repeat;
    /* 50% 50% centers image in div */
    width: 191px;
    height: 191px;
    border-radius: 7%;


}

img {
    width: 100%;
    height: 100%;
}

.buttons {
 }

.buttons :hover {
    background-color: #ccc;
    border-radius: 2%;
    cursor: pointer;
}

.buttonsUp {
    display: flex;
    justify-content: center;
}