@font-face {
    font-family: 'Kirby Classic';
    src: url('../fonts/kirby-classic.ttf') format('truetype');
}

.character-name {
    font-family: 'Kirby Classic';
    font-size: 20px;
    font-weight: bold;
    color: #f37c90;
    text-shadow: 0 0 10px #ffffff;
    text-align: center;
    margin-top: 10%;
}

.character-age {
    font-size: xx-large;
    font-weight: bold;
    color: blue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#character {
    position: relative;
}

.right {
    transition: left 1.2s;
    left: 100%;
}

.left {
    transition: left 1.2s;
    left: 0;
}

.square {
    height: 300px;
    min-width: 350px;
    border-radius: 2%;
    margin: 0 auto 2px auto;
    position: relative;

    /*border: width style color;*/
}

.egg {
    margin: auto;
}

.stats {
    position: relative;
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stat-icons {
    max-height: 40px;
    width: 40px;
    float: left;
    position: relative;
}

.rating {
    font-size: 50px;
    text-align: center;
    color: #f1c020;
}

.square-content {
    width: 100%;
    margin: 0 auto;
}
img {
    pointer-events: none
}
.stat-progress {
    height: 40px;
    position: relative;
}

.gif {
    background: 50% 50% no-repeat;
    /* 50% 50% centers image in div */
    width: 191px;
    height: 191px;
    border-radius: 7%;


}


.feed {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 0;
    color: #fff;
    position: absolute;
    bottom: -20px;
    z-index: 1
}

.feed-img {
    max-height: fit-content;
    z-index: 1;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.editButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 0;
    color: #fff;
    position: relative;
    bottom: -20px;
    z-index: 1
}