.startordeny{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: #f9f882;
    z-index: 7;
    position: absolute;
    top: 100px;
    left: 700px;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}
.bnts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.bnts button{
    color: #0a53be;
    background: white;
    padding: 4px;
    width: 130px;
}